
<html>
<head>
<title>Thuat toan va tien trinh</title>
<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<h1>Ket qua:</h1>
<p>=.=</p>

<h3> <%= data %></h3>
<!-- <a href="https://thuattoanvatientrinh.herokuapp.com">
    <input type="button" value="go Home" />
 </a> -->
 <input type="submit" id="gohome" value="Go Home" 
    onclick="window.location='/';" /> 
</body>
</html>