
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>Ket qua:</h1>
<p>=.=</p>

<h2> <%= data %></h2>
<!-- <a href="https://thuattoanvatientrinh.herokuapp.com">
    <input type="button" value="go Home" />
 </a> -->
 <input type="submit" value="Go Home" 
    onclick="window.location='/';" /> 
</body>
</html>