<% var n = "chan" %>
<html>
<head>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<title>Page Title</title>
</head>
<body>

<h1>Thuat toan va tien trinh trong an toan may tinh</h1>
<p> => Nhap chuoi va key vao day</p>
<p> => Copy chuoi cho tien , dung nhap thu cong</p>
<form  method="POST" action="/python">
    <label for="fname"><b>chuoi:</b></label><br>
    <input type="text" id="fname" name="fname" ><br>
    <label for="lname"><b>key:</b></label><br>
    <input type="text" id="lname" name="lname" ><br><br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>